<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <app-carrusel></app-carrusel>
    </div>
    <div class="col-sm-4">
      <app-tienda-form></app-tienda-form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-tienda-botones></app-tienda-botones>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-producto-form></app-producto-form>
    </div>
    <div class="col-sm-6">
      <app-tienda-info></app-tienda-info>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-tabla></app-tabla>
    </div>
  </div>
</div>